@charset "UTF-8";

/*===================================
# マップ型変数breakpointsを定義
===================================*/
$breakpoints: (
    "sp": "screen and (max-width:480px)" /*767px以下（スマホ）用の表示*/,
    "tab": "screen and (max-width:834px)" /*834px以下（タブレット）用の表示*/,
    "pc": "screen and (min-width:835px)" /*835px以上（PC）用の表示*/
) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{
        map-get($breakpoints, $breakpoint)
    } {
        //この中をカスタムできる
        @content;
    }
}

@import "reset";

//よく使うカラーの定義

$black-color: #3b3b3b; //ベースフォントカラー
$grey-color: #707070; //ボーダーカラー
$yellow-color: #fef30b; //アクセントカラー
$light-grey-color: #eeeeee; //背景カラー

/*共通*/

body {
    font-family: "Noto Serif JP", serif;
    line-height: 1.5;
    color: $black-color;
}

a:hover {
    color: #ff7f50;
}

a:visited,
a span:visited {
    text-decoration: none;
}

a img:hover {
    opacity: 0.7; /*リンクの透過処理*/
}

/* ゴシック体のフォントを設定するクラス */
.gothic-font {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS PGothic", "Noto Sans",
        Helvetica, Arial, sans-serif;
}

/*pc.scssの読み込み*/
@import "pc";

//pc.scss
/*PCベースフォント*/
body {
    font-size: 23px;
}

main{
    background: #ffffff;
}

/*共通ラッパー*/
.mainWrapper {
    max-width: 1640px;
    margin: 0 auto;
    background: #ffffff;
}

/* ヘッダー */
header {
    background-color: #ffffff; /* ヘッダーの背景色 */
    border-bottom: #707070 1px solid;

    .header-content {
        display: flex; /* 子要素を横並びに */
        align-items: center; /* 子要素を縦方向中央揃え */
        margin: 0 20px;
    }
}

/* ヘッダーの左側にロゴを配置 */
.header-left {
}

.header-left a {
    text-decoration: none; /* リンクの下線をなくす */
    color: #333333; /* リンクの色 */
    font-size: 24px; /* フォントサイズ */
}

/* ヘッダーの右側にメニューを配置 */
.header-right {
    flex: 1; /* 幅を自動調整 */
    align-items: center; /* 子要素を縦方向中央揃え */
    .header-shop-menu {
        width: 100%;
        text-align: right;
    }
    /* メインナビゲーションメニュー */

    .main-navigation {
        margin-left: auto; /* 左側の余白を自動調整 */

        .menu {
            list-style: none; /* リストのマーカーをなくす */
            padding: 0; /* リストの余白をなくす */
            margin: 20px 0 0 0; /* リストの余白をなくす */
            display: flex; /* 子要素を横並びに */
            justify-content: flex-end; /*子要素を右詰めに*/

            li {
                display: inline-block; /* メニュー項目を横並びに */
                margin-right: 20px; /* メニュー項目の右側の余白 */
                a:hover {
                    color: #ff7f50;
                }
            }

            li:last-child {
                margin-right: 0; /* 最後のメニュー項目の右側の余白をなくす */
            }

            li a {
                text-decoration: none; /* リンクの下線をなくす */
                color: #333333; /* リンクの色 */
            }
        }
    }
}

/* ハンバーガーメニューのトグルボタン */
.mobile-menu-toggle {
    display: none; /* デフォルトでは非表示 */
}

/* メニュートグルボタンのアイコン */
.menu-toggle-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #333333;
}

/* メニュートグルボタンのテキスト */
.menu-toggle-text {
    margin-left: 5px;
}

/*トップページ*/

/* メインキャッチスライダー */
.mainSliderWrapper {
    position: relative;

    .main-slider {
        width: 100%;
        max-width: 1920px;
        height: 750px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0; /* 初期状態で透明にする */
            transition: opacity 1s ease-in-out; /* フェードのトランジションを設定 */

            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* 画像の縦横比を保持しつつ、コンテナ全体をカバー */
            }
        }

        .slide.active {
            opacity: 1; /* 表示するスライドを不透明にする */
        }
    }
    .slideOnMesseage {
        position: absolute;
        left: 10%;
        top: 200px;
        font-size: 75px;
        line-height: 1.2;
        color: #ffffff;
        span {
            display: block;
            font-size: 113px;
        }
    }
}

/*トップ｜メッセージ*/
.topMessageWrapper {
    margin: 80px auto;
    width: 1088px;

    h2 {
        font-size: 50px;
        margin-bottom: 80px;
        text-align: center;
    }
    section {
        line-height: 2;
    }
}

/* トップ　カスタムスライダー */
.topSubSlideWrapper {
    width: 100%;
    max-width: 900px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    h2 {
        text-align: center;
        margin: 80px;
    }
}

.custom-slider {
    width: 100%;
    height: 100%;
    position: relative;

    .custom-slide {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 縦横比を維持して拡大 */
        }

        &.active {
            display: block;
        }
    }
}

/*トップ｜トータルサポートリンク*/

.topTortalSupportWrapper {
    display: flex;
    width: 1364px;
    margin: 0 auto;
    .supportLeft {
        text-align: left;
        width: 60px;
        max-width: 60px;
        border-right: #707070 1px solid;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        margin-right: 34px;
        line-height: 3;
        font-weight: bold;
    }
    .supportRight {
        flex: 1;
        .supportNav {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            text-align: center;
            line-height: 3;
            li {
                display: inline-block;
            }
        }
        .supportNavDescription {
            margin: 40px auto;
            text-align: center;
            line-height: 2;
        }
    }
}
.topTortalSupportBanner {
    width: 1364px;
    margin: 0 auto;
    .supportBanner {
        width: 530px;
        margin: 80px auto;
        a {
            display: flex;
            border: #707070 1px solid;
            align-items: center;
            text-decoration: none;
        }
        img {
        }
        span {
            display: inline-block;
            font-size: 19px;
            line-height: 1.5;
            padding-left: 25px;
        }
    }
}

/* トップ｜施行実績 */
.topResultWrapper {
    display: flex;
    width: 1364px;
    margin: 200px auto;

    .resultLeft {
        text-align: left;
        width: 60px;
        max-width: 60px;
        border-right: #707070 1px solid;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        margin-right: 34px;
        line-height: 3;
        font-weight: bold;
    }

    .resultRight {
        flex: 1;

        h2 {
            margin-bottom: 60px;
            font-size: 16px;
        }

        .resultNav {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            text-align: center;
            line-height: 3;

            .resultNaviItem {
                display: inline-block;
                border: 1px solid #707070;
                margin: 0 35px;
                border: 1px solid #707070;
                margin: 0 35px;
                text-align: left;
                font-size: 16px;
                line-height: 1;

                .resultNaviLink {
                    display: block;
                    text-decoration: none;

                    .resultNaviImage {
                        display: block;
                        margin-bottom: 10px;
                        border-bottom: $grey-color;
                        img {
                            border: 0;
                        }
                    }

                    .resultNaviTitle {
                        display: inline-block;
                        font-weight: bold;
                        margin-bottom: 5px;
                        padding: 4px 8px;
                        margin-left: 8px;
                        background: $yellow-color;
                        color: #ffffff;
                        line-height: 1;
                    }

                    .resultNaviDate {
                        display: block;
                        font-size: 12px;
                        color: #707070;
                        margin: 10px;
                        margin-left: 8px;
                    }

                    .resultNaviDescription {
                        font-size: 12px;
                        color: #707070;
                        margin-left: 8px;
                        line-height: 1.5;
                    }
                }
            }
        }

        .ResultButton {
            margin: 40px auto;
            text-align: center;
            line-height: 2;
            a {
                padding: 5px 30px;
                background-color: #707070;
                color: #ffffff;
            }
        }
    }
}

/*トップ会社概要*/
.topCompanyWrapper {
    background: $light-grey-color;
    padding: 90px 0;
    ul {
        display: flex;
        justify-content: center;
        li {
            display: inline-block;
            margin: 0 48px;
            span {
                display: block;
                text-align: center;
                margin: 30px auto;
            }
        }
    }
}

/*トップ採用バナー*/

.topRecruitBanner {
    margin: 210px auto 110px;
    text-align: center;
}

/*トップアパレルバナー*/

.topAparelWrapper {
    text-align: center;
    h2 {
        font-size: 50px;
    }
    .flexWrapper {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        a {
            span {
                display: block;
                text-align: center;
            }
        }
    }
    .shopingBtn {
        a {
            padding: 5px 30px;
            margin: 20px auto;
            background: $grey-color;
            text-align: center;
            display: inline-block;
            color: #ffffff;
            text-decoration: none;
        }
    }
    .notification-container {
        width: 1200px; /* コンテナの幅 */
        border: 1px solid #ccc; /* コンテナの枠線 */
        padding: 10px; /* コンテナ内の余白 */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* コンテナの影 */
        margin: 20px auto;
        text-align: left;
    }

    .notification-list {
        max-height: 260px; /* リストの最大高さ */
        overflow-y: auto; /* 垂直スクロールを有効に */
    }

    .notification-list ul {
        list-style: none; /* リストのマーカーを消す */
        padding: 0; /* リストの内側の余白を消す */
        margin: 0; /* リストの外側の余白を消す */
    }

    .notification-list li {
        padding: 5px 0; /* 各リストアイテムの上下の余白 */
        border-bottom: 1px solid #eaeaea; /* 各リストアイテムの下部に線を追加 */
    }

    .notification-list li:last-child {
        border-bottom: none; /* 最後のリストアイテムの下部の線を消す */
    }

    .notification-list a {
        text-decoration: none; /* リンクの下線を消す */
        color: #000; /* リンクの色を黒にする */
        font-family: Arial, sans-serif; /* フォントファミリーを指定 */
        display: flex; /* フレックスボックスを使用 */
        justify-content: flex-start; /* 内容を左に配置 */
    }

    .notification-list span {
        color: #999; /* 日付の色をグレーにする */
        margin-right: 10px; /* 日付の右の余白 */
    }
}

/*トップ｜ピックアップ*/

.topPickupWrapper {
    display: flex;
    width: 1364px;
    margin: 100px auto;
    .pickupLeft {
        text-align: left;
        width: 60px;
        max-width: 60px;
        border-right: #707070 1px solid;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        margin-right: 34px;
        line-height: 3;
        font-weight: bold;
    }
    .pickupRight {
        flex: 1;
        .pickupNav {
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            text-align: center;
            line-height: 2;
            li {
                display: inline-block;
            }
        }
        .pickupNavDescription {
            margin: 40px auto;
            text-align: center;
            line-height: 2;
        }
    }
}

/* プライバシーポリシーページ */
.privacy-policy-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background: #ffffff;

    h1 {
        font-size: 2.5em;
        color: $black-color;
        margin-bottom: 70px;
        border-bottom: 2px solid $grey-color;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 1.5em;
        color: $black-color;
        margin-bottom: 15px;
        border-bottom: 1px solid $grey-color;
        padding-bottom: 5px;
    }

    p {
        margin-bottom: 70px;
        line-height: 1.8;
    }

    ul {
        margin-bottom: 70px;
        padding-left: 20px;

        li {
            list-style-type: disc;
            margin-bottom: 10px;
            line-height: 1.6;
        }
    }
}

@include mq("sp") {
    .privacy-policy-wrapper {
        padding: 10px;

        h1 {
            font-size: 1em;
        }

        h2 {
            font-size: 1.2em;
        }

        p,
        ul {
            font-size: 0.9em;
        }
    }
}
.contact-page {
    .contact-form {
        background-color: #fff9d4;
        padding: 20px;
        border-radius: 5px;
        width: 1100px;
        margin: 0 auto;

        h2 {
            text-align: center;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        input[type="submit"] {
            background-color: #ffeb3b;
            color: #333;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #fdd835;
            }
        }
    }
}

@include mq("sp") {
    .contact-page {
        .contact-form {
            padding: 10px;
            width: 100%;

            h2 {
                font-size: 1.2em;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            textarea {
                padding: 8px;
            }

            input[type="submit"] {
                padding: 8px 16px;
            }

            .wpcf7-list-item {
                display: block;
            }
        }
    }
}

/*sp.scssの読み込み*/
@import "sp";

@include mq(sp) {
    body {
        font-size: 16px; // フォントサイズを調整
        line-height: 1.4;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    .mainWrapper {
        padding: 0 36px;
        max-width: 100%;
        overflow: hidden;
    }

    .mainSliderWrapper {
        .main-slider {
            width: 100%;
            height: 190px;
            .slide {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .slideOnMesseage {
            position: relative;
            font-size: 1.2em;
            top: initial;
            margin: 30px auto;
            left: initial;
            color: $black-color;
            span {
                display: block;
                font-size: 1.4em;
            }
        }
    }

    .topMessageWrapper {
        width: 100%;
        padding: 20px 0;
        h2 {
            font-size: 1.5em; // 見出しのフォントサイズを調整
        }
        section {
            font-size: 1em;
            line-height: 1.6;
            text-align: left;
        }
    }

    .topTortalSupportWrapper {
        padding: 20px 0;
        width: 100%;
        display: block;

        .supportLeft {
            font-size: 1.2em;
            margin-bottom: 10px;
            writing-mode: initial;
            width: 100%;
            max-width: 100%;
            border: initial;
            border-bottom: 1px solid $black-color;
            line-height: 1.2;
        }
        .supportRight {
            .supportNav {
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 10px;
                    a {
                        font-size: 1em;
                        position: relative;
                        img {
                            height: 82px;
                            width: 100%;
                            object-fit: cover;
                        }
                        span {
                            position: absolute;
                            bottom: 2px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            color: #fff;
                        }
                    }
                }
            }
            .supportNavDescription {
                text-align: left;
                br {
                    display: none;
                }
            }
        }
    }

    .topTortalSupportBanner {
        width: 100%;
        .supportBanner {
            width: 100%;
            img {
                width: 50%;
            }
            span {
                font-size: 13px;
                padding-left: 10px;
            }
        }
    }

    //サブスライダー
    .topSubSlideWrapper {
        height: 300px; /* 高さを調整 */

        h2 {
            margin: 40px; /* マージンを調整 */
            font-size: 1.5em; /* フォントサイズを調整 */
        }
    }

    .custom-slider {
        .custom-slide {
            img {
                object-fit: cover;
            }
        }
    }

    .topResultWrapper {
        padding: 20px 0;
        width: 100%;
        display: block;
        .resultLeft {
            font-size: 1.2em;
            margin-bottom: 10px;
            writing-mode: initial;
            width: 100%;
            max-width: 100%;
            border: initial;
            border-bottom: 1px solid $black-color;
            line-height: 1.2;
        }
        .resultRight {
            .resultNav {
                display: block;
                .resultNaviItem {
                    margin: 0 auto;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .topCompanyWrapper {
        ul {
            display: block;
            li {
                margin: 0 auto;
                display: block;
                img {
                    width: 100%;
                    height: 115px;
                    object-fit: cover;
                }
            }
        }
    }

    .topRecruitBanner {
        margin: 100px auto;
    }

    .topAparelWrapper {
        h2 {
            font-size: 19px;
        }
        .flexWrapper {
            display: block;
        }
        .notification-container {
            width: 100%;
            padding: 0;
        }
    }

    .topPickupWrapper {
        padding: 20px 0;
        width: 100%;
        display: block;
        .pickupLeft {
            font-size: 1.2em;
            margin-bottom: 10px;
            writing-mode: initial;
            width: 100%;
            max-width: 100%;
            border: initial;
            border-bottom: 1px solid $black-color;
            line-height: 1.2;
        }
        .pickupRight {
        }
    }
}
