@charset "UTF-8";
/*===================================
# マップ型変数breakpointsを定義
===================================*/
/* Reset SCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*共通*/
body {
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
  color: #3B3B3B;
}

a:hover {
  color: #ff7f50;
}

a:visited,
a span:visited {
  text-decoration: none;
}

a img:hover {
  opacity: 0.7; /*リンクの透過処理*/
}

/* ゴシック体のフォントを設定するクラス */
.gothic-font {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS PGothic", "Noto Sans", Helvetica, Arial, sans-serif;
}

/*pc.scssの読み込み*/
/*PCベースフォント*/
body {
  font-size: 23px;
}

/*共通ラッパー*/
.mainWrapper {
  max-width: 1640px;
  margin: 0 auto;
}

/* ヘッダー */
header {
  background-color: #ffffff; /* ヘッダーの背景色 */
  border-bottom: #707070 1px solid;
}
header .header-content {
  display: flex; /* 子要素を横並びに */
  align-items: center; /* 子要素を縦方向中央揃え */
  margin: 0 20px;
}

/* ヘッダーの左側にロゴを配置 */
.header-left a {
  text-decoration: none; /* リンクの下線をなくす */
  color: #333333; /* リンクの色 */
  font-size: 24px; /* フォントサイズ */
}

/* ヘッダーの右側にメニューを配置 */
.header-right {
  flex: 1; /* 幅を自動調整 */
  align-items: center; /* 子要素を縦方向中央揃え */
  /* メインナビゲーションメニュー */
}
.header-right .header-shop-menu {
  width: 100%;
  text-align: right;
}
.header-right .main-navigation {
  margin-left: auto; /* 左側の余白を自動調整 */
}
.header-right .main-navigation .menu {
  list-style: none; /* リストのマーカーをなくす */
  padding: 0; /* リストの余白をなくす */
  margin: 20px 0 0 0; /* リストの余白をなくす */
  display: flex; /* 子要素を横並びに */
  justify-content: flex-end; /*子要素を右詰めに*/
}
.header-right .main-navigation .menu li {
  display: inline-block; /* メニュー項目を横並びに */
  margin-right: 20px; /* メニュー項目の右側の余白 */
}
.header-right .main-navigation .menu li a:hover {
  color: #ff7f50;
}
.header-right .main-navigation .menu li:last-child {
  margin-right: 0; /* 最後のメニュー項目の右側の余白をなくす */
}
.header-right .main-navigation .menu li a {
  text-decoration: none; /* リンクの下線をなくす */
  color: #333333; /* リンクの色 */
}

/* ハンバーガーメニューのトグルボタン */
.mobile-menu-toggle {
  display: none; /* デフォルトでは非表示 */
}

/* メニュートグルボタンのアイコン */
.menu-toggle-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333333;
}

/* メニュートグルボタンのテキスト */
.menu-toggle-text {
  margin-left: 5px;
}

/*トップページ*/
/* メインキャッチスライダー */
.mainSliderWrapper {
  position: relative;
}
.mainSliderWrapper .main-slider {
  width: 100%;
  max-width: 1920px;
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.mainSliderWrapper .main-slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* 初期状態で透明にする */
  transition: opacity 1s ease-in-out; /* フェードのトランジションを設定 */
}
.mainSliderWrapper .main-slider .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 画像の縦横比を保持しつつ、コンテナ全体をカバー */
}
.mainSliderWrapper .main-slider .slide.active {
  opacity: 1; /* 表示するスライドを不透明にする */
}
.mainSliderWrapper .slideOnMesseage {
  position: absolute;
  left: 10%;
  top: 200px;
  font-size: 75px;
  line-height: 1.2;
  color: #ffffff;
}
.mainSliderWrapper .slideOnMesseage span {
  display: block;
  font-size: 113px;
}

/*トップ｜メッセージ*/
.topMessageWrapper {
  margin: 80px auto;
  width: 1088px;
}
.topMessageWrapper h2 {
  font-size: 50px;
  margin-bottom: 80px;
  text-align: center;
}
.topMessageWrapper section {
  line-height: 2;
}

/* トップ　カスタムスライダー */
.topSubSlideWrapper {
  width: 100%;
  max-width: 900px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.topSubSlideWrapper h2 {
  text-align: center;
  margin: 80px;
}

.custom-slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.custom-slider .custom-slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.custom-slider .custom-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比を維持して拡大 */
}
.custom-slider .custom-slide.active {
  display: block;
}

/*トップ｜トータルサポートリンク*/
.topTortalSupportWrapper {
  display: flex;
  width: 1364px;
  margin: 0 auto;
}
.topTortalSupportWrapper .supportLeft {
  text-align: left;
  width: 60px;
  max-width: 60px;
  border-right: #707070 1px solid;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin-right: 34px;
  line-height: 3;
  font-weight: bold;
}
.topTortalSupportWrapper .supportRight {
  flex: 1;
}
.topTortalSupportWrapper .supportRight .supportNav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 3;
}
.topTortalSupportWrapper .supportRight .supportNav li {
  display: inline-block;
}
.topTortalSupportWrapper .supportRight .supportNavDescription {
  margin: 40px auto;
  text-align: center;
  line-height: 2;
}

.topTortalSupportBanner {
  width: 1364px;
  margin: 0 auto;
}
.topTortalSupportBanner .supportBanner {
  width: 530px;
  margin: 80px auto;
}
.topTortalSupportBanner .supportBanner a {
  display: flex;
  border: #707070 1px solid;
  align-items: center;
  text-decoration: none;
}
.topTortalSupportBanner .supportBanner span {
  display: inline-block;
  font-size: 19px;
  line-height: 1.5;
  padding-left: 25px;
}

/* トップ｜施行実績 */
.topResultWrapper {
  display: flex;
  width: 1364px;
  margin: 200px auto;
}
.topResultWrapper .resultLeft {
  text-align: left;
  width: 60px;
  max-width: 60px;
  border-right: #707070 1px solid;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin-right: 34px;
  line-height: 3;
  font-weight: bold;
}
.topResultWrapper .resultRight {
  flex: 1;
}
.topResultWrapper .resultRight h2 {
  margin-bottom: 60px;
  font-size: 16px;
}
.topResultWrapper .resultRight .resultNav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 3;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem {
  display: inline-block;
  border: 1px solid #707070;
  margin: 0 35px;
  border: 1px solid #707070;
  margin: 0 35px;
  text-align: left;
  font-size: 16px;
  line-height: 1;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem .resultNaviLink {
  display: block;
  text-decoration: none;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem .resultNaviLink .resultNaviImage {
  display: block;
  margin-bottom: 10px;
  border-bottom: #707070;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem .resultNaviLink .resultNaviImage img {
  border: 0;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem .resultNaviLink .resultNaviTitle {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 4px 8px;
  margin-left: 8px;
  background: #FEF30B;
  color: #ffffff;
  line-height: 1;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem .resultNaviLink .resultNaviDate {
  display: block;
  font-size: 12px;
  color: #707070;
  margin: 10px;
  margin-left: 8px;
}
.topResultWrapper .resultRight .resultNav .resultNaviItem .resultNaviLink .resultNaviDescription {
  font-size: 12px;
  color: #707070;
  margin-left: 8px;
  line-height: 1.5;
}
.topResultWrapper .resultRight .ResultButton {
  margin: 40px auto;
  text-align: center;
  line-height: 2;
}
.topResultWrapper .resultRight .ResultButton a {
  padding: 5px 30px;
  background-color: #707070;
  color: #ffffff;
}

/*トップ会社概要*/
.topCompanyWrapper {
  background: #EEEEEE;
  padding: 90px 0;
}
.topCompanyWrapper ul {
  display: flex;
  justify-content: center;
}
.topCompanyWrapper ul li {
  display: inline-block;
  margin: 0 48px;
}
.topCompanyWrapper ul li span {
  display: block;
  text-align: center;
  margin: 30px auto;
}

/*トップ採用バナー*/
.topRecruitBanner {
  margin: 210px auto 110px;
  text-align: center;
}

/*トップアパレルバナー*/
.topAparelWrapper {
  text-align: center;
}
.topAparelWrapper h2 {
  font-size: 50px;
}
.topAparelWrapper .flexWrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.topAparelWrapper .flexWrapper a span {
  display: block;
  text-align: center;
}
.topAparelWrapper .shopingBtn a {
  padding: 5px 30px;
  margin: 20px auto;
  background: #707070;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}
.topAparelWrapper .notification-container {
  width: 1200px; /* コンテナの幅 */
  border: 1px solid #ccc; /* コンテナの枠線 */
  padding: 10px; /* コンテナ内の余白 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* コンテナの影 */
  margin: 20px auto;
  text-align: left;
}
.topAparelWrapper .notification-list {
  max-height: 260px; /* リストの最大高さ */
  overflow-y: auto; /* 垂直スクロールを有効に */
}
.topAparelWrapper .notification-list ul {
  list-style: none; /* リストのマーカーを消す */
  padding: 0; /* リストの内側の余白を消す */
  margin: 0; /* リストの外側の余白を消す */
}
.topAparelWrapper .notification-list li {
  padding: 5px 0; /* 各リストアイテムの上下の余白 */
  border-bottom: 1px solid #eaeaea; /* 各リストアイテムの下部に線を追加 */
}
.topAparelWrapper .notification-list li:last-child {
  border-bottom: none; /* 最後のリストアイテムの下部の線を消す */
}
.topAparelWrapper .notification-list a {
  text-decoration: none; /* リンクの下線を消す */
  color: #000; /* リンクの色を黒にする */
  font-family: Arial, sans-serif; /* フォントファミリーを指定 */
  display: flex; /* フレックスボックスを使用 */
  justify-content: flex-start; /* 内容を左に配置 */
}
.topAparelWrapper .notification-list span {
  color: #999; /* 日付の色をグレーにする */
  margin-right: 10px; /* 日付の右の余白 */
}

/*トップ｜ピックアップ*/
.topPickupWrapper {
  display: flex;
  width: 1364px;
  margin: 100px auto;
}
.topPickupWrapper .pickupLeft {
  text-align: left;
  width: 60px;
  max-width: 60px;
  border-right: #707070 1px solid;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin-right: 34px;
  line-height: 3;
  font-weight: bold;
}
.topPickupWrapper .pickupRight {
  flex: 1;
}
.topPickupWrapper .pickupRight .pickupNav {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 2;
}
.topPickupWrapper .pickupRight .pickupNav li {
  display: inline-block;
}
.topPickupWrapper .pickupRight .pickupNavDescription {
  margin: 40px auto;
  text-align: center;
  line-height: 2;
}

/* プライバシーポリシーページ */
.privacy-policy-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  background: #ffffff;
}
.privacy-policy-wrapper h1 {
  font-size: 2.5em;
  color: #3B3B3B;
  margin-bottom: 70px;
  border-bottom: 2px solid #707070;
  padding-bottom: 10px;
}
.privacy-policy-wrapper h2 {
  font-size: 1.5em;
  color: #3B3B3B;
  margin-bottom: 15px;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
}
.privacy-policy-wrapper p {
  margin-bottom: 70px;
  line-height: 1.8;
}
.privacy-policy-wrapper ul {
  margin-bottom: 70px;
  padding-left: 20px;
}
.privacy-policy-wrapper ul li {
  list-style-type: disc;
  margin-bottom: 10px;
  line-height: 1.6;
}

@media screen and (max-width:480px) {
  .privacy-policy-wrapper {
    padding: 10px;
  }
  .privacy-policy-wrapper h1 {
    font-size: 1em;
  }
  .privacy-policy-wrapper h2 {
    font-size: 1.2em;
  }
  .privacy-policy-wrapper p,
  .privacy-policy-wrapper ul {
    font-size: 0.9em;
  }
}
.contact-page .contact-form {
  background-color: #fff9d4;
  padding: 20px;
  border-radius: 5px;
  width: 1100px;
  margin: 0 auto;
}
.contact-page .contact-form h2 {
  text-align: center;
}
.contact-page .contact-form input[type=text],
.contact-page .contact-form input[type=email],
.contact-page .contact-form input[type=tel],
.contact-page .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.contact-page .contact-form input[type=radio] {
  margin-right: 10px;
}
.contact-page .contact-form input[type=checkbox] {
  margin-right: 10px;
}
.contact-page .contact-form input[type=submit] {
  background-color: #ffeb3b;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.contact-page .contact-form input[type=submit]:hover {
  background-color: #fdd835;
}

@media screen and (max-width:480px) {
  .contact-page .contact-form {
    padding: 10px;
    width: 100%;
  }
  .contact-page .contact-form h2 {
    font-size: 1.2em;
  }
  .contact-page .contact-form input[type=text],
  .contact-page .contact-form input[type=email],
  .contact-page .contact-form input[type=tel],
  .contact-page .contact-form textarea {
    padding: 8px;
  }
  .contact-page .contact-form input[type=submit] {
    padding: 8px 16px;
  }
  .contact-page .contact-form .wpcf7-list-item {
    display: block;
  }
}
/*sp.scssの読み込み*/
/*sp.scss*/
/* スマホ用メニュー */
@media screen and (max-width:480px) {
  .header-right .main-navigation {
    display: none;
  }
  .header-right .mobile-menu-toggle {
    display: block;
  }
}/*# sourceMappingURL=common.css.map */