:root {
  --innerValue: 1560;
  --inner: 1560px;
  --padding-pc: 40px;
  --padding-sp: 35px;
  --base-color: #3b3b3b;
  --white: #ffffff;
  --black: #000000;
  --yellow: #fef30b;
  --yellow-light: #fff982;
  --pink: #efb9b9;
  --green: #0ba500;
  --green-light: #b1f19e;
  --gray: #707070;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --ex-bold: 800;
  --sans-family: "Noto Sans JP", sans-serif;
  --duration: 0.3s ease;
  --header-height-pc: 118px;
  --header-height-sp: 60px;
}

.hoverOpacity {
  transition: opacity var(--duration);
}
@media (any-hover: hover) {
  .hoverOpacity:hover {
    opacity: 0.7;
    color: #ff7f50;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width:834px) {
  body:has(#mobile-menu-button[aria-expanded=true]) {
    overflow: hidden;
  }
}

header {
  height: var(--header-height-pc);
  padding-bottom: 10px;
}
header * {
  box-sizing: border-box;
}
@media screen and (max-width:834px) {
  header {
    height: var(--header-height-sp);
    padding-bottom: 0;
  }
}
header .header-content {
  height: inherit;
}

.header-left {
  height: inherit;
}
.header-left a {
  display: block;
  height: inherit;
}
.header-left img {
  height: inherit;
}

@media screen and (max-width:834px) {
  .header-right {
    display: flex;
    gap: 10px;
    align-items: center;
    height: inherit;
  }
}
@media screen and (max-width:834px) {
  .header-right .header-shop-menu {
    height: inherit;
  }
}
.header-right .header-shop-menu a {
  display: inline-block;
}
@media screen and (max-width:834px) {
  .header-right .header-shop-menu a {
    height: inherit;
  }
}

.header-right .header-shop-menu .shoppingBtn {
	-webkit-text-decoration: none;
	align-items: center;
	background: #fef30b;
	background: var(--yellow);
	color: #ffffff;
	color: var(--white);
	display: flex;
	font-family: "Noto Sans JP", sans-serif;
	font-family: var(--sans-family);
	font-size: max(10px, min(calc(6.6666666667px + 0.8547008547vw), 20px));
	gap: max(4px, min(calc(3px + 0.2564102564vw), 7px));
	height: max(51px, min(calc(48.6666666667px + 0.5982905983vw), 58px));
	justify-content: center;
	margin-left: auto;
	padding: 7px;
	text-align: left;
	text-decoration: none;
	width: max(110px, min(calc(30px + 20.5128205128vw), 350px));
}

.header-right .header-shop-menu .shoppingBtn span {
	display: inline-block;
}

.header-right .header-shop-menu .shoppingBtn span::after {
	aspect-ratio: 1/1;
	background: url(../images/sub/icon_outLink.svg) no-repeat center center/contain;
	content: "";
	display: inline-block;
	margin-left: max(4px, min(calc(3px + 0.2564102564vw), 7px));
	vertical-align: bottom;
	width: max(12px, min(calc(7px + 1.2820512821vw), 27px));
}

.header-right .header-shop-menu .shoppingBtn img {
	flex-shrink: 0;
	width: max(13px, min(calc(10px + 0.7692307692vw), 22px));
=======
.header-right .header-shop-menu img {
  width: clamp(110px, 36.6666666667px + 18.8034188034vw, 330px);
}
@media screen and (max-width:834px) {
  .header-right .header-shop-menu img {
    height: 100%;
  }
}
@media screen and (max-width:834px) {
  .header-right .main-navigation {
    display: none;
  }
}
@media screen and (max-width:834px) {
  .header-right .mobile-menu-toggle {
    display: flex;
    align-items: center;
    height: 100%;
  }

}
.header-right .mobile-menu-toggle button {
  display: block;
  padding: 0;
  border: none;
  background: none;
  width: 35px;
  aspect-ratio: 1/1;
  position: relative;
}
.header-right .mobile-menu-toggle button span {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: right center;
  transition: all var(--duration);
}
.header-right .mobile-menu-toggle button span:nth-child(1) {
  top: 20%;
}
.header-right .mobile-menu-toggle button span:nth-child(2) {
  top: 45%;
}
.header-right .mobile-menu-toggle button span:nth-child(3) {
  bottom: 0;
}
.header-right .mobile-menu-toggle button[aria-expanded=true] span:nth-child(1) {
  top: 0%;
  transform: translateX(-60%) rotate(-45deg);
}
.header-right .mobile-menu-toggle button[aria-expanded=true] span:nth-child(2) {
  top: 55%;
  transform: translateX(-60%) rotate(45deg);
}
.header-right .mobile-menu-toggle .menu-toggle-icon {
  display: block;
  width: 80%;
  height: 3px;
}
.header-right .mobile-menu-toggle .menu-toggle-text {
  font-size: 10px;
  margin-left: initial;
  width: 100%;
  text-transform: uppercase;
}

.drawer-menu {
  display: block;
  position: fixed;
  top: var(--header-height-sp);
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--header-height-sp));
  overflow-y: scroll;
  z-index: 100;
  background: #efefef;
  pointer-events: none;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  transition: opacity var(--duration), visibility var(--duration), -webkit-clip-path var(--duration);
  transition: opacity var(--duration), visibility var(--duration), clip-path var(--duration);
  transition: opacity var(--duration), visibility var(--duration), clip-path var(--duration), -webkit-clip-path var(--duration);
}
@media screen and (min-width:835px) {
  .drawer-menu {
    display: none;
  }
}

.drawer-menu[aria-hidden=false],
.drawer-menu:popover-open {
  pointer-events: auto;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.drawer-menu__lists {
  display: block;
  width: 100%;
  margin-inline: auto;
  padding-block: 30px 80px;
  padding-inline: var(--padding-sp);
}

.drawer-menu__list {
  border-bottom: 1px solid var(--base-color);
}
.drawer-menu__list .drawer-menu__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  color: var(--base-color);
  text-decoration: none;
}
.drawer-menu__list .drawer-menu__link span {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  transition: transform var(--duration);
  color: var(--base-color);
}
.drawer-menu__list .drawer-menu__link span::before, .drawer-menu__list .drawer-menu__link span::after {
  content: "";
  display: block;
  width: inherit;
  height: 2px;
  background: currentColor;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: center right;
}
.drawer-menu__list .drawer-menu__link span::before {
  transform: translate(0%, -50%) rotate(45deg);
}
.drawer-menu__list .drawer-menu__link span::after {
  transform: translate(0%, -50%) rotate(-45deg);
}
.drawer-menu__list .drawer-menu__link.st_accordion span {
  transform: translate(0%, -50%) rotate(90deg);
}
.drawer-menu__list .drawer-menu__link.st_accordion.is-open span {
  transform: translate(0%, -50%) rotate(90deg) scale(-1, 1);
}
.drawer-menu__list.is_active a span {
  transform: translate(0%, -50%) rotate(90deg) scale(-1, 1);
}

.drawer-menu__subLists {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease, 250ms padding-block ease;
}
.drawer-menu__subLists > div {
  overflow: hidden;
}
.drawer-menu__subLists[aria-hidden=false] {
  grid-template-rows: 1fr;
  padding-block: 0 20px;
}

.drawer-menu__subList {
  position: relative;
}
.drawer-menu__subList .drawer-menu__subLink {
  display: block;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--base-color);
  text-decoration: none;
  background: var(--white);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.drawer-menu__subList .drawer-menu__subLink span {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  transition: transform var(--duration);
  color: var(--base-color);
}
.drawer-menu__subList .drawer-menu__subLink span::before, .drawer-menu__subList .drawer-menu__subLink span::after {
  content: "";
  display: block;
  width: inherit;
  height: 2px;
  background: currentColor;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: center right;
}
.drawer-menu__subList .drawer-menu__subLink span::before {
  transform: translate(0%, -50%) rotate(45deg);
}
.drawer-menu__subList .drawer-menu__subLink span::after {
  transform: translate(0%, -50%) rotate(-45deg);
}
.drawer-menu__subList .drawer-menu__subLink.is-open span {
  transform: translate(0%, -50%) rotate(90deg) scale(-1, 1);
}

.drawer-menu__subList + .drawer-menu__subList {
  margin-block-start: 10px;
}

.footer {
  box-sizing: border-box;
  font-family: var(--sans-family);
  text-align: left;
  padding-block-end: clamp(38px, 37.3333333333px + 0.1709401709vw, 40px);
  margin-block-start: clamp(85px, 25px + 15.3846153846vw, 265px);
}
@media screen and (max-width:834px) {
  .footer {
    background-color: color-mix(in srgb, var(--gray) 12%, transparent);
  }
}
.footer * {
  box-sizing: border-box;
}

body:has(.secWelfare) .footer {
  margin-block-start: 0;
}

.footer__inner {
  max-width: calc(var(--inner) + var(--padding-pc) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-pc);
}
@media screen and (max-width:834px) {
  .footer__inner {
    padding-inline: var(--padding-sp);
  }
}

.footer__contents {
  border-top: 1px solid var(--gray);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-block-start: clamp(22px, -10.6666666667px + 8.3760683761vw, 120px);
}
@media screen and (max-width:834px) {
  .footer__contents {
    border-top: none;
    display: block;
  }
}

.footer__main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: max(600px, 62%);
  padding-inline: min(130px, 6vw) 50px;
}
@media screen and (max-width:834px) {
  .footer__main {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width:834px) {
  .footer__mainWrap {
    display: contents;
  }
}

@media screen and (max-width:834px) {
  .footer__head {
    order: 1;
    text-align: center;
  }
}

.footer__logo {
  width: clamp(108px, 46px + 15.8974358974vw, 294px);
}
@media screen and (max-width:834px) {
  .footer__logo {
    display: inline-block;
  }
}
.footer__logo img {
  width: 100%;
  height: auto;
}

.footer__body {
  margin-block-start: 9px;
}
@media screen and (max-width:834px) {
  .footer__body {
    margin-block-start: 30px;
    order: 3;
  }
}

.footer__snsTitle {
  font-size: 20px;
  font-family: var(--sans-family);
  font-weight: var(--ex-bold);
  line-height: 1.45;
  letter-spacing: 0.067em;
}
@media screen and (max-width:834px) {
  .footer__snsTitle {
    padding-block-end: 10px;
    border-bottom: 1px solid var(--gray);
    text-align: center;
  }
}

.footer__snsLists {
  margin-block-start: 14px;
}
@media screen and (max-width:834px) {
  .footer__snsLists {
    margin-block-start: 30px;
  }
}

@media screen and (max-width:834px) {
  .footer__list {
    text-align: center;
  }
}

.footer__list.mt {
  margin-block-start: 50px;
}

.footer__snsList + .footer__snsList {
  margin-block-start: 10px;
}
@media screen and (max-width:834px) {
  .footer__snsList + .footer__snsList {
    margin-block-start: 20px;
  }
}

.footer__snsText {
  font-size: clamp(12px, 9.3333333333px + 0.6837606838vw, 20px);
}
@media screen and (max-width:834px) {
  .footer__snsText {
    text-align: center;
  }
}

.footer__snsLink {
  display: block;
  width: 45px;
  margin-block-start: 10px;
  text-align: center;
}
@media screen and (max-width:834px) {
  .footer__snsLink {
    margin-inline: auto;
  }
}

@media screen and (max-width:834px) {
  .footer__bottom {
    order: 2;
  }
}

.footer__adBlock + .footer__adBlock {
  margin-block-start: 15px;
}

.footer__adText {
  font-size: clamp(12px, 9.3333333333px + 0.6837606838vw, 20px);
  line-height: 1.45;
}
@media screen and (max-width:834px) {
  .footer__adText {
    text-align: center;
  }
}

.footer__adTel {
  font-size: clamp(20px, 14.3333333333px + 1.452991453vw, 37px);
  line-height: 1.4594594595;
}
@media screen and (max-width:834px) {
  .footer__adTel {
    text-align: center;
  }
}

.footer__adTel a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
}

.footer__sub {
  width: max(400px, 38%);
  padding-inline: 50px;
  border-right: 1px solid var(--gray);
}
@media screen and (max-width:834px) {
  .footer__sub {
    display: none;
  }
}

.footer__listWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 60px;
}

.footer__list {
  margin-block-start: 10px;
}
.footer__list a {
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.067em;
  color: var(--base-color);
  text-decoration: none;
}

.footer__subLists {
  padding-left: 2em;
}

.footer__subList a {
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.067em;
  color: var(--base-color);
  text-decoration: none;
}

.footer__copy {
  font-size: clamp(12px, 9.3333333333px + 0.6837606838vw, 20px);
  line-height: 1.45;
  text-align: center;
  margin-block-start: clamp(30px, 0px + 7.6923076923vw, 120px);
}

.sub {
  color: var(--base-color);
  background: var(--white);
  text-align: left;
}
.sub * {
  box-sizing: border-box;
}
.sub img {
  display: block;
  width: 100%;
  height: auto;
}
.sub .inner {
  max-width: calc(var(--inner) + var(--padding-pc) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-pc);
}
@media screen and (max-width:834px) {
  .sub .inner {
    padding-inline: var(--padding-sp);
  }
}
.sub .sp-only {
  display: none;
}
@media screen and (max-width:834px) {
  .sub .sp-only {
    display: block;
  }
}
@media screen and (max-width:834px) {
  .sub .pc-only {
    display: none;
  }
}
.sub .secTitle {
  font-size: clamp(19px, 8.6666666667px + 2.6495726496vw, 50px);
  line-height: 2.14;
}
.sub .secTitleSub {
  font-size: clamp(16px, 4.6666666667px + 2.905982906vw, 50px);
  line-height: 1.44;
}
.sub .baseText {
  font-size: clamp(14px, 11px + 0.7692307692vw, 23px);
  line-height: 1.4347826087;
}
.sub .btnBase {
  display: grid;
  place-content: center;
  background: var(--gray);
  color: var(--white);
  width: clamp(112px, 74.6666666667px + 9.5726495726vw, 224px);
  height: clamp(40px, 38.3333333333px + 0.4273504274vw, 45px);
  font-size: clamp(12px, 6.3333333333px + 1.452991453vw, 29px);
  font-weight: var(--medium);
  font-family: var(--sans-family);
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}
.sub .subMv {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width:834px) {
  .sub .subMv {
    flex-direction: column;
  }
}
.sub .subMv__title {
  text-align: center;
  padding-block-start: clamp(20px, -33.3333333333px + 13.6752136752vw, 180px);
}
@media screen and (max-width:834px) {
  .sub .subMv__title {
    height: clamp(82px, 39.8378378378px + 10.8108108108vw, 130px);
    padding-block-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.sub .subMv__title[class*=st_] {
  padding-block-end: clamp(100px, 15px + 21.7948717949vw, 355px);
}
@media screen and (max-width:834px) {
  .sub .subMv__title[class*=st_] {
    padding-bottom: 0;
  }
}
.sub .subMv__title.st_yellow {
  background: var(--yellow-light);
}
@media screen and (max-width:834px) {
  .sub .subMv__title.st_yellow {
    background: initial;
  }
}
.sub .subMv__title.st_pink {
  background: var(--pink);
}
@media screen and (max-width:834px) {
  .sub .subMv__title.st_pink {
    background: var(--white);
  }
}
.sub .subMv__title.st_green {
  background: var(--green);
}
@media screen and (max-width:834px) {
  .sub .subMv__title.st_green {
    background: var(--white);
  }
}
.sub .subMv__title.st_green-light {
  background: var(--green-light);
}
@media screen and (max-width:834px) {
  .sub .subMv__title.st_green-light {
    background: var(--white);
  }
}
.sub .subMv__text {
  font-size: clamp(12px, -0.6666666667px + 3.2478632479vw, 50px);
}
.sub .subMv__img {
  width: 100%;
  aspect-ratio: 1920/402;
  overflow: hidden;
}
.sub .subMv__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width:834px) {
  .sub .subMv:has(.subMv__title.img_sp_none) .subMv__img {
    display: none;
  }
}
@media screen and (max-width:834px) {
  .sub .subMv:has(.subMv__title.st_pink) {
    padding-block-end: clamp(102px, -97.3333333333px + 51.1111111111vw, 700px);
    background: var(--pink);
  }
}
@media screen and (max-width:834px) {
  .sub .subMv:has(.subMv__title.st_green-light) {
    padding-block-end: clamp(12px, -7.3333333333px + 4.9572649573vw, 70px);
    background: var(--green-light);
  }
}
.sub .subMv:has(.subMv__title.st_green) {
  color: var(--white);
}
@media screen and (max-width:834px) {
  .sub .subMv:has(.subMv__title.st_green) {
    color: var(--base-color);
    padding-block-end: clamp(12px, -7.3333333333px + 4.9572649573vw, 70px);
    background: var(--green);
  }
}
.sub .media__item {
  display: flex;
}
.sub .media__content {
  flex: 0 0 50%;
}
@media screen and (max-width:834px) {
  .sub .media__content {
    flex: initial;
  }
}
.sub .media__textWrap {
  padding: clamp(33px, 25.3333333333px + 1.9658119658vw, 56px) clamp(35px, 20.3333333333px + 3.7606837607vw, 79px);
}
.sub .media__title {
  font-size: clamp(18px, 8.6666666667px + 2.3931623932vw, 46px);
  line-height: 1.4347826087;
}
.sub .media__item + .media__item {
  margin-block-start: clamp(33px, -26.6666666667px + 15.2991452991vw, 212px);
}
.sub .media__text {
  margin-block-start: clamp(13px, 7.3333333333px + 1.452991453vw, 30px);
}
.sub .media__imgWrap {
  position: relative;
  --padding-block: clamp(12px, 4.6666666667px + 1.8803418803vw, 34px);
  --padding-inline: clamp(18px, 7.6666666667px + 2.6495726496vw, 49px);
}
.sub .media__img {
  width: 100%;
  aspect-ratio: 911/814;
  position: relative;
}
.sub .media__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 2;
}
.sub .media__img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: var(--padding-block);
  background: var(--gray);
}
.sub .media__item:nth-child(odd) {
  flex-direction: row-reverse;
}
@media screen and (max-width:834px) {
  .sub .media__item:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
.sub .media__item:nth-child(odd) .media__imgWrap {
  padding-block-start: var(--padding-block);
  padding-inline-end: var(--padding-inline);
}
@media screen and (max-width:834px) {
  .sub .media__item:nth-child(odd) .media__imgWrap {
    margin-inline-end: 45px;
  }
}
.sub .media__item:nth-child(odd) .media__img::after {
  left: var(--padding-inline);
}
@media screen and (max-width:834px) {
  .sub .media__item:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.sub .media__item:nth-child(even) .media__imgWrap {
  padding-block-start: var(--padding-block);
  padding-inline-start: var(--padding-inline);
}
@media screen and (max-width:834px) {
  .sub .media__item:nth-child(even) .media__imgWrap {
    margin-inline-start: 45px;
  }
}
.sub .media__item:nth-child(even) .media__img::after {
  right: var(--padding-inline);
}
.sub .media.st_yellow .media__img::after {
  background: var(--yellow);
}
.sub .media.st_pink .media__img::after {
  background: var(--pink);
}
.sub .media.st_green .media__img::after {
  background: var(--green);
}
.sub .media.st_green-light .media__img::after {
  background: var(--green-light);
}
.sub .media.reverse .media__item:nth-child(odd) {
  flex-direction: row;
}
@media screen and (max-width:834px) {
  .sub .media.reverse .media__item:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
.sub .media.reverse .media__item:nth-child(odd) .media__imgWrap {
  padding-inline-start: var(--padding-inline);
  padding-inline-end: initial;
}
@media screen and (max-width:834px) {
  .sub .media.reverse .media__item:nth-child(odd) .media__imgWrap {
    margin-inline-start: 45px;
    margin-inline-end: initial;
  }
}
.sub .media.reverse .media__item:nth-child(odd) .media__img::after {
  right: var(--padding-inline);
  left: initial;
}
.sub .media.reverse .media__item:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width:834px) {
  .sub .media.reverse .media__item:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.sub .media.reverse .media__item:nth-child(even) .media__imgWrap {
  padding-inline-start: initial;
  padding-inline-end: var(--padding-inline);
}
@media screen and (max-width:834px) {
  .sub .media.reverse .media__item:nth-child(even) .media__imgWrap {
    margin-inline-end: 45px;
    margin-inline-start: initial;
  }
}
.sub .media.reverse .media__item:nth-child(even) .media__img::after {
  left: var(--padding-inline);
  right: initial;
}
@media screen and (max-width:834px) {
  .sub .media.ver2 .media__content--1 {
    display: contents;
  }
}
@media screen and (max-width:834px) {
  .sub .media.ver2 .media__content--2 {
    order: 2;
    margin-block-start: clamp(20px, -23.3333333333px + 11.1111111111vw, 150px);
  }
}
@media screen and (max-width:834px) {
  .sub .media.ver2 .media__textWrap {
    display: contents;
  }
}
@media screen and (max-width:834px) {
  .sub .media.ver2 .media__title {
    order: 3;
    padding-inline: clamp(35px, 20.3333333333px + 3.7606837607vw, 79px);
    text-align: center;
  }
}
@media screen and (max-width:834px) {
  .sub .media.ver2 .media__text {
    order: 1;
    margin-block-start: clamp(20px, -23.3333333333px + 11.1111111111vw, 150px);
    padding-inline: clamp(35px, 20.3333333333px + 3.7606837607vw, 79px);
  }
}
@media screen and (max-width:834px) {
  .sub .media.sp_color_none .media__imgWrap {
    margin: initial !important;
    padding-inline: clamp(35px, 20.3333333333px + 3.7606837607vw, 79px);
  }
}
@media screen and (max-width:834px) {
  .sub .media.sp_color_none .media__imgWrap .media__img {
    aspect-ratio: 318/166;
  }
  .sub .media.sp_color_none .media__imgWrap .media__img::after {
    content: none !important;
  }
}
.sub .directory {
  max-width: 1144px;
  margin-inline: auto;
}
@media screen and (max-width:834px) {
  .sub .directory {
    max-width: clamp(236px, -83.7297297297px + 81.981981982vw, 600px);
  }
}
.sub .directory + .directory {
  margin-block-start: clamp(69px, 58.6666666667px + 2.6495726496vw, 100px);
}
.sub .directory__head {
	align-items: flex-start;
	display: flex;
	gap: max(22px, min(calc(12.6666666667px + 2.3931623932vw), 50px));
  display: flex;
  gap: clamp(22px, 12.6666666667px + 2.3931623932vw, 50px);
}
@media screen and (max-width:834px) {
  .sub .directory__head {
    flex-direction: column-reverse;
  }
}
.sub .directory:nth-child(even) .directory__head {
  flex-direction: row-reverse;
}
@media screen and (max-width:834px) {
  .sub .directory:nth-child(even) .directory__head {
    flex-direction: column-reverse;
  }
}
.sub .directory__lists {
  flex: 1;
}
@media screen and (max-width:834px) {
  .sub .directory__lists {
    border: 1px solid var(--gray);
    flex: initial;
  }
}
.sub .directory__list {
  display: flex;
}
@media screen and (max-width:834px) {
  .sub .directory__list {
    border-bottom: 1px solid var(--gray);
  }
}
.sub .directory__dt,
.sub .directory__dd {
  padding: clamp(5px, 1.6666666667px + 0.8547008547vw, 15px) clamp(15px, 15px + 0vw, 15px);
  font-size: clamp(14px, 10px + 1.0256410256vw, 26px);
  line-height: 1.5769230769;
}
.sub .directory__dt {
  text-align: center;
  width: clamp(90px, 41.6666666667px + 12.3931623932vw, 235px);
  flex-shrink: 0;
}
.sub .directory__dd {
  text-align: center;
  width: clamp(165px, 62px + 26.4102564103vw, 474px);
  flex: 1;
}
@media screen and (max-width:834px) {
  .sub .directory__dd {
    text-align: left;
    border-left: 1px solid var(--gray);
  }
}
.sub .directory__img {
  width: clamp(179px, 108.6666666667px + 18.0341880342vw, 390px);
  aspect-ratio: 390/370;
}
.sub .directory__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width:834px) {
  .sub .directory__img {
    margin-inline: auto;
  }
}
@media screen and (max-width:834px) {
  .sub .directory__body {
    margin-block-start: 30px;
  }
}
.sub .directory__title {
  font-size: clamp(14px, 10px + 1.0256410256vw, 26px);
}
@media screen and (max-width:834px) {
  .sub .directory__title {
    text-align: center;
  }
}
.sub .directory__text {
  font-size: clamp(12px, 7.3333333333px + 1.1965811966vw, 26px);
  margin-block-start: clamp(5px, 0px + 1.2820512821vw, 20px);
}
.sub .overview {
  position: relative;
}
.sub .overview__row {
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 1px solid var(--gray);
}
.sub .overview__dt {
  text-align: center;
}
.sub .overview__dt,
.sub .overview__dd {
  padding: clamp(8px, 4px + 1.0256410256vw, 20px) clamp(10px, -6.6666666667px + 4.2735042735vw, 60px);
  min-height: clamp(36px, 23px + 3.3333333333vw, 75px);
}
.sub .overview__done {
  display: none;
}
.sub .overview.st_done .overview__done {
  display: block;
  padding-block-start: 20%;
  width: 100%;
  height: 100%;
  background: color-mix(in srgb, #000 54%, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sub .overview.st_done .overview__done p {
  color: var(--white);
  font-size: clamp(20px, 1.6666666667px + 4.7008547009vw, 75px);
  line-height: 1.4266666667;
  text-align: center;
}
.sub .subInfo {
  background: var(--white);
  margin-block-start: clamp(147px, 62.6666666667px + 21.6239316239vw, 400px);
}
.sub .subInfo.subInfo-1 {
  margin-block-start: clamp(147px, 116px + 7.9487179487vw, 240px);
}
.sub .subInfo.subInfo-2 {
  margin-block-start: clamp(100px, 47px + 13.5897435897vw, 259px);
}
.sub .relatedInfo__head {
  text-align: left;
}
@media screen and (max-width:834px) {
  .sub .relatedInfo__head {
    text-align: center;
  }
}
.sub .relatedInfo__body {
  margin-block-start: clamp(33px, 4px + 7.4358974359vw, 120px);
}
.sub .relatedInfo__items {
  max-width: 812px;
  margin-inline: auto;
}
.sub .relatedInfo__item {
  display: block;
  width: 100%;
  position: relative;
}
.sub .relatedInfo__item + .relatedInfo__item {
  margin-block-start: clamp(45px, 32.3333333333px + 3.2478632479vw, 83px);
}
.sub .relatedInfo__img {
  aspect-ratio: 812/247;
}
.sub .relatedInfo__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .relatedInfo__content {
  position: absolute;
  right: 15px;
}
.sub .relatedInfo__content.positionTop {
  top: clamp(7px, 1px + 1.5384615385vw, 25px);
}
.sub .relatedInfo__content.positionBottom {
  bottom: clamp(7px, 1px + 1.5384615385vw, 25px);
}
.sub .relatedInfo__title {
  font-size: clamp(12px, 5.3333333333px + 1.7094017094vw, 32px);
  font-weight: var(--bold);
  letter-spacing: 0.067em;
  line-height: 1.4375;
}
.sub .relatedInfo__title.white {
  color: var(--white);
}
.sub .relatedInfo__title.gray {
  color: var(--gray);
}
.sub .relatedInfo__deco {
  font-size: clamp(10px, 7.3333333333px + 0.6837606838vw, 18px);
  line-height: 1.4444444444;
  font-weight: var(--medium);
  margin-block-start: clamp(7px, 2.6666666667px + 1.1111111111vw, 20px);
  margin-inline-start: auto;
  background: var(--gray);
  color: var(--white);
  width: clamp(58px, 28.3333333333px + 7.6068376068vw, 147px);
  min-height: clamp(20px, 18px + 0.5128205128vw, 26px);
  text-transform: uppercase;
  display: grid;
  place-content: center;
}
.sub .secGreeting-l {
  margin-block-start: clamp(38px, -32.6666666667px + 18.1196581197vw, 250px);
}
.sub .secGreeting__inner {
  --inner: 1640px;
}
.sub .secGreeting__contents {
  display: flex;
  align-items: flex-start;
  gap: clamp(20px, 3.3333333333px + 4.2735042735vw, 70px);
}
@media screen and (max-width:834px) {
  .sub .secGreeting__contents {
    flex-wrap: wrap;
    align-items: initial;
  }
}
.sub .secGreeting__textBlock {
  flex: 0 1 1046px;
}
@media screen and (max-width:834px) {
  .sub .secGreeting__textBlock {
    display: contents;
  }
}
@media screen and (max-width:834px) {
  .sub .secGreeting__textWrap {
    width: 100%;
  }
}
.sub .secGreeting__title {
  font-size: clamp(18px, 8.6666666667px + 2.3931623932vw, 46px);
}
.sub .secGreeting__text {
  margin-block-start: clamp(10px, 6.6666666667px + 0.8547008547vw, 20px);
}
.sub .secGreeting__name {
  width: clamp(150px, 46px + 26.6666666667vw, 462px);
  margin-block-start: clamp(10px, 5.6666666667px + 1.1111111111vw, 23px);
  margin-left: auto;
}
@media screen and (max-width:834px) {
  .sub .secGreeting__name {
    margin-block-start: 0;
    margin-left: initial;
    width: 50%;
  }
}
.sub .secGreeting__imgBlock {
  flex: 0 1 400px;
  aspect-ratio: 524/640;
}
.sub .secGreeting__imgBlock img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width:834px) {
  .sub .secGreeting__imgBlock {
    flex: initial;
    width: 40%;
  }
}
.sub .secPhilosophy-l {
  margin-block-start: clamp(122px, 29.3333333333px + 23.7606837607vw, 400px);
}
.sub .secPhilosophy__title {
  text-align: center;
}
.sub .secPhilosophy__body {
  margin-block-start: clamp(25px, -16.3333333333px + 10.5982905983vw, 149px);
}
.sub .secPhilosophy__text {
  font-size: clamp(12px, -1.3333333333px + 3.4188034188vw, 52px);
  line-height: 2.0576923077;
  text-align: center;
}
.sub .secCompanyView-l {
  margin-block-start: clamp(122px, 29.3333333333px + 23.7606837607vw, 400px);
}
.sub .secCompanyView__inner {
  --inner: 825px;
}
.sub .secCompanyView__title {
  text-align: center;
}
.sub .secCompanyView__body {
  margin-block-start: clamp(30px, 2.6666666667px + 7.0085470085vw, 112px);
}
.sub .secSdgs-l {
  margin-block-start: clamp(122px, 29.3333333333px + 23.7606837607vw, 400px);
}
.sub .secSdgs__title {
  text-align: center;
}
.sub .secSdgs__body {
  margin-block-start: clamp(37px, 19.3333333333px + 4.5299145299vw, 90px);
}
.sub .secSdgs__img {
  width: 100%;
  aspect-ratio: 1920/584;
}
.sub .secSdgs__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secSdgs__text {
  margin-block-start: clamp(53px, 30.6666666667px + 5.7264957265vw, 120px);
  line-height: 4.652173913;
  text-align: center;
}
@media screen and (max-width:834px) {
  .sub .secSdgs__text {
    line-height: 1.4166666667;
  }
}
.sub .secMap {
  overflow-x: hidden;
}
.sub .secMap-l {
  margin-block-start: clamp(122px, 29.3333333333px + 23.7606837607vw, 400px);
}
.sub .secMap-l2 {
  margin-block-start: clamp(70px, -24.6666666667px + 24.2735042735vw, 354px);
}
.sub .secMap__title {
  text-align: center;
}
.sub .secMap__body {
  margin-block-start: clamp(60px, 40px + 5.1282051282vw, 120px);
}
@media screen and (max-width:834px) {
  .sub .secMap__body {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
  }
}
.sub .map {
  width: 100%;
  aspect-ratio: 1560/400;
}
@media screen and (max-width:834px) {
  .sub .map {
    aspect-ratio: 390/290;
  }
}
.sub .map iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secBusiness {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sub .secBusiness__item {
  display: block;
  text-decoration: none;
}
.sub .secBusiness__img {
  display: block;
  aspect-ratio: 480/756;
}
.sub .secBusiness__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secBusiness__text {
  font-size: clamp(12px, 6px + 1.5384615385vw, 30px);
  margin-block-start: clamp(10px, 8.3333333333px + 0.4273504274vw, 15px);
  color: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 3.3333333333px + 1.7094017094vw, 30px);
}
.sub .secBusiness__text span {
  position: relative;
  transform: rotate(90deg);
}
.sub .secBusiness__text span::before, .sub .secBusiness__text span::after {
  content: "";
  display: block;
  width: clamp(6px, 4px + 0.5128205128vw, 12px);
  height: clamp(2px, 1.6666666667px + 0.0854700855vw, 3px);
  background: currentColor;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center right;
}
.sub .secBusiness__text span::before {
  transform: translate(-50%, -49%) rotate(40deg);
}
.sub .secBusiness__text span::after {
  transform: translate(-50%, -49%) rotate(-40deg);
}
.sub .secBusinessDetail-l {
  margin-block-start: clamp(160px, -40px + 51.2820512821vw, 760px);
}
.sub .secBusinessDetail + .secBusinessDetail {
  margin-block-start: clamp(80px, -51.6666666667px + 33.7606837607vw, 475px);
}
.sub .secBusinessDetail__title {
  text-align: center;
}
.sub .secBusinessDetail__subTitle {
  text-align: center;
}
.sub .secBusinessDetail__body {
  margin-block-start: 30px;
}
.sub .secBusinessDetail__img {
  width: 100%;
  aspect-ratio: 1920/520;
}
.sub .secBusinessDetail__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secBusinessDetail__text {
  margin-block-start: clamp(36px, 27px + 2.3076923077vw, 63px);
  line-height: 2.3043478261;
  text-align: center;
  padding-inline: var(--padding-pc);
}
@media screen and (max-width:834px) {
  .sub .secBusinessDetail__text {
    line-height: 1.5;
    padding-inline: var(--padding-sp);
  }
}
.sub .secBusinessDetail__btn {
  margin-block-start: clamp(40px, 33.3333333333px + 1.7094017094vw, 60px);
  display: flex;
  justify-content: center;
}
.sub .secElectricalTop {
  padding-top: clamp(87px, 51.6666666667px + 9.0598290598vw, 193px);
}
@media screen and (max-width:834px) {
  .sub .secElectricalTop {
    background: var(--yellow-light);
    padding-block-end: 30px;
    margin-block-end: clamp(17px, -14px + 7.9487179487vw, 110px);
  }
}
.sub .secElectricalTop__head {
  text-align: center;
  padding-inline: var(--padding-sp);
  font-size: clamp(17px, 6px + 2.8205128205vw, 50px);
  line-height: 2.14;
}
.sub .secElectricalTop__head small {
  font-size: clamp(14px, 5.3333333333px + 2.2222222222vw, 40px);
  display: block;
}
.sub .secElectricalTop__head span {
  display: inline-block;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  text-underline-offset: 5px;
}
@media screen and (max-width:834px) {
  .sub .secElectricalTop__head span {
    text-underline-offset: 2px;
  }
}
.sub .secElectricalTop__img {
  margin-block-start: clamp(15px, -16.6666666667px + 8.1196581197vw, 110px);
  aspect-ratio: 1920/474;
}
.sub .secElectricalTop__body {
  padding-inline: var(--padding-sp);
  margin-block-start: clamp(17px, -14px + 7.9487179487vw, 110px);
  max-width: 1373px;
  margin-inline: auto;
}
.sub .secContent1-l {
  margin-block-start: clamp(27px, 2px + 6.4102564103vw, 102px);
}
.sub .secElectricalWrap-l {
  margin-block-start: clamp(35px, -41px + 19.4871794872vw, 263px);
}
.sub .secElectricalWrap__head {
  text-align: center;
}
.sub .secElectricalWrap__body {
  margin-block-start: clamp(20px, -54.6666666667px + 19.1452991453vw, 244px);
}
.sub .secSlideContent-l {
  margin-block-start: clamp(100px, 14.3333333333px + 21.9658119658vw, 357px);
}
.sub .secSlideContent-l2 {
  margin-block-start: clamp(60px, 13.3333333333px + 11.9658119658vw, 200px);
}
.sub .secSlideContent__inner {
  --inner: 1160px;
}
.sub .secSlideContent__title {
  text-align: center;
  text-transform: uppercase;
}
.sub .secSlideContent__body {
  margin-block-start: clamp(40px, -16.6666666667px + 14.5299145299vw, 210px);
}
.sub .secSlideContent__bottom {
  margin-block-start: clamp(50px, -16.6666666667px + 17.094017094vw, 250px);
  text-align: center;
}
.sub .secSlideContent__bnr {
  width: clamp(300px, 129.3333333333px + 43.7606837607vw, 812px);
  max-width: 100%;
  aspect-ratio: 812/246;
  display: inline-block;
}
.sub .secSlideContent__bnr a {
  display: block;
  width: 100%;
  height: 100%;
}
.sub .imgSlide img {
  aspect-ratio: 1160/800;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .newsBlock {
  position: relative;
}
.sub .newsBlock__contents {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 20%);
  width: 100%;
  max-width: calc(1277px + var(--padding-pc) * 2);
  height: clamp(66px, -0.3333333333px + 17.0085470085vw, 265px);
  padding-inline: var(--padding-pc);
}
@media screen and (max-width:834px) {
  .sub .newsBlock__contents {
    max-width: clamp(400px, 107.6666666667px + 74.9572649573vw, 1277px);
    bottom: clamp(20px, -40px + 15.3846153846vw, 200px);
    transform: translate(-50%, 0);
  }
}
.sub .newsBlock__content {
  background: var(--white);
  border: 1px solid var(--gray);
  overflow-y: scroll;
  padding: clamp(5px, -6.6666666667px + 2.9914529915vw, 40px) clamp(13px, 0.6666666667px + 3.1623931624vw, 50px);
  height: inherit;
}
.sub .newsBlock__content::-webkit-scrollbar {
  width: clamp(13px, 4px + 2.3076923077vw, 40px);
}
.sub .newsBlock__content::-webkit-scrollbar-track {
  background: var(--white);
}
.sub .newsBlock__content::-webkit-scrollbar-thumb {
  background: var(--pink);
  border-radius: clamp(8px, 6.6666666667px + 0.3418803419vw, 12px);
}
.sub .newsBlock__list + .newsBlock__list {
  margin-block-start: clamp(3px, 2.3333333333px + 0.1709401709vw, 5px);
}
.sub .newsBlock__list a {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: clamp(30px, 14px + 4.1025641026vw, 78px);
  color: var(--base-color);
  text-decoration: none;
}
.sub .newsBlock__date,
.sub .newsBlock__title {
  display: block;
}
.sub .secBland {
  background: var(--green-light);
  padding-block: clamp(25px, -5px + 7.6923076923vw, 115px) clamp(50px, -19.6666666667px + 17.8632478632vw, 259px);
}
.sub .secBland-l {
  margin-block-start: clamp(50px, -73.6666666667px + 31.7094017094vw, 421px);
}
.sub .secBland__title {
  text-align: center;
  text-transform: uppercase;
}
.sub .secBland__body {
  margin-block-start: clamp(20px, 0px + 5.1282051282vw, 80px);
}
.sub .secBland__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(5px, 0px + 1.2820512821vw, 20px);
}
.sub .secBland__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secPhoto-l {
  margin-block-start: clamp(50px, 16.6666666667px + 8.547008547vw, 150px);
}
.sub .secPhoto__head {
  text-align: center;
}
.sub .secPhoto__body {
  margin-block-start: clamp(40px, 5.6666666667px + 8.8034188034vw, 143px);
}
.sub .secPhoto__bottom {
  margin-block-start: clamp(75px, 22.3333333333px + 13.5042735043vw, 233px);
}
.sub .secPhoto__bnr {
  width: 100%;
  max-width: clamp(318px, 153.3333333333px + 42.2222222222vw, 812px);
  margin-inline: auto;
  aspect-ratio: 812/380;
}
.sub .secPhoto__bnr img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secCareerHead {
  margin-block-start: clamp(38px, 5px + 8.4615384615vw, 137px);
}
.sub .secCareerHead__text {
  font-size: clamp(14px, -1.3333333333px + 3.9316239316vw, 60px);
  line-height: 1.7833333333;
  text-align: center;
}
@media screen and (max-width:834px) {
  .sub .secCareerHead__text {
    line-height: 1.7;
  }
}
.sub .secCareerContent1 {
  overflow: hidden;
}
.sub .secCareerContent1-l {
  margin-block-start: clamp(70px, 26.6666666667px + 11.1111111111vw, 200px);
}
.sub .secCareerContent1__title {
  text-align: center;
}
.sub .secCareerContent1__img {
  margin-block-start: clamp(40px, 7.6666666667px + 8.2905982906vw, 137px);
  aspect-ratio: 1920/846;
  width: 100vw;
  margin-inline: calc(50% - 50vw);
}
.sub .secCareerContent1__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secCareerContent1__body {
  margin-block-start: clamp(40px, 10px + 7.6923076923vw, 130px);
}
.sub .secCareerContent1__text {
  font-size: clamp(14px, 5.3333333333px + 2.2222222222vw, 40px);
  line-height: 2.075;
  text-align: center;
}
@media screen and (max-width:834px) {
  .sub .secCareerContent1__text {
    line-height: 1.5;
  }
}
.sub .secCareerContent2-l {
  margin-block-start: clamp(56px, -46px + 26.1538461538vw, 362px);
}
@media screen and (max-width:834px) {
  .sub .secCareerContent2__head {
    padding-block-start: clamp(15px, -30px + 11.5384615385vw, 150px);
  }
}
.sub .secCareerContent2__title {
  text-align: center;
}
.sub .secCareerContent2__body1 {
  padding-block-start: clamp(23px, -44px + 17.1794871795vw, 224px);
}
@media screen and (max-width:834px) {
  .sub .secCareerContent2__body1 {
    margin-block-start: clamp(23px, -44px + 17.1794871795vw, 224px);
  }
}
.sub .secCareerContent2__body2 {
  padding-block-start: clamp(43px, -3px + 11.7948717949vw, 181px);
}
@media screen and (max-width:834px) {
  .sub .secCareerContent2__body2 {
    padding-block-end: clamp(23px, -44px + 17.1794871795vw, 224px);
  }
}
.sub .secCareerContent2__list {
  --inner: 1080px;
}
.sub .secCareerContent2__body3 {
  padding-block-start: clamp(74px, -12.6666666667px + 22.2222222222vw, 334px);
}
.sub .secCareerContent2__body4 {
  padding-block-start: clamp(30px, 6.6666666667px + 5.9829059829vw, 100px);
}
@media screen and (max-width:834px) {
  .sub .secCareerContent2__body1,
  .sub .secCareerContent2__body2 {
    background: color-mix(in srgb, var(--gray) 12%, transparent);
  }
}
.sub .secWelfare {
  overflow: hidden;
}
.sub .secWelfare-l {
  margin-block-start: clamp(88px, 20.3333333333px + 17.3504273504vw, 291px);
}
.sub .secWelfare__title {
  text-align: center;
}
.sub .secWelfare__img {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  aspect-ratio: 1920/1060;
  margin-block-start: clamp(25px, -50.6666666667px + 19.4017094017vw, 252px);
}
.sub .secWelfare__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .secWelfare__body {
  margin-block-start: clamp(86px, 45px + 10.5128205128vw, 209px);
  --inner: 1170px;
}
.sub .secWelfare__bottom {
  margin-block-start: clamp(40px, 3.3333333333px + 9.4017094017vw, 150px);
}
.sub .accordion + .accordion {
  margin-block-start: clamp(30px, 6.6666666667px + 5.9829059829vw, 100px);
}
.sub .accordion__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(5px, 3.3333333333px + 0.4273504274vw, 10px);
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  font-family: "Noto Serif JP", serif;
  cursor: pointer;
}
.sub .accordion__btn::after {
  content: "";
  display: block;
  width: clamp(15px, 5px + 2.5641025641vw, 45px);
  aspect-ratio: 11/10;
  background: var(--base-color);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.sub .accordion__body {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease, 250ms padding-block ease;
}
.sub .accordion__body > div {
  overflow: hidden;
}
.sub .accordion__body[aria-hidden=false] {
  grid-template-rows: 1fr;
  padding-block: clamp(20px, 3.6666666667px + 4.188034188vw, 69px) 0;
}
.sub .accordion__text {
  text-align: center;
}
.sub .secOfficeMap-l {
  margin-block-start: clamp(40px, -0.3333333333px + 10.3418803419vw, 161px);
}
.sub .secOfficeMap__inner {
  --inner: 1372px;
}
.sub .secOfficeContents-l {
  margin-block-start: clamp(145px, -40px + 47.4358974359vw, 700px);
}
.sub .secOfficeContents__item + .secOfficeContents__item {
  margin-block-start: clamp(108px, -39.3333333333px + 37.7777777778vw, 550px);
}
.sub .secOfficeContents__head {
  text-align: center;
}
.sub .secOfficeContents__body {
  margin-block-start: clamp(30px, -0.6666666667px + 7.8632478632vw, 122px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(25px, 17.6666666667px + 1.8803418803vw, 47px);
}
@media screen and (max-width:834px) {
  .sub .secOfficeContents__body {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sub .secOfficeContents__text {
  padding-inline: 0 var(--padding-pc);
}
@media screen and (max-width:834px) {
  .sub .secOfficeContents__text {
    padding-inline: var(--padding-sp);
  }
}
.sub .secOfficeContents__bottom {
  margin-block-start: clamp(30px, -0.6666666667px + 7.8632478632vw, 122px);
}
.sub .secOfficeContents__map {
  aspect-ratio: 1920/603;
}
.sub .secOfficeContents__map iframe {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .artist-l {
  margin-block-start: clamp(78px, 4px + 18.9743589744vw, 300px);
}
.sub .actualResult__head {
  margin-block-start: clamp(50px, 0.6666666667px + 12.6495726496vw, 198px);
}
@media screen and (max-width:834px) {
  .sub .actualResult__head {
    margin-block-start: 0;
  }
}
.sub .actualResult__content1 {
  margin-block-start: clamp(45px, -19.6666666667px + 16.5811965812vw, 239px);
}
.sub .actualResult__content2 {
  margin-block-start: clamp(88px, 37.3333333333px + 12.9914529915vw, 240px);
}
.sub .actualResult__content3 {
  margin-block-start: clamp(16px, -55.6666666667px + 18.3760683761vw, 231px);
}
.sub .actualResult__content3__inner {
  --inner: 1364px;
}
.sub .actualResult__pagination {
  margin-block-start: clamp(80px, 30px + 12.8205128205vw, 230px);
}
.sub .actualResult__img {
  aspect-ratio: 1920/801;
}
.sub .actualResult__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sub .actualResult__title {
  text-align: center;
}
.sub .actualResult__block {
  margin-block-start: clamp(30px, -20px + 12.8205128205vw, 180px);
}
.sub .actualResult__title__inner {
  --inner: 900px;
}
.sub .actualResult__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sub .actualResult__list {
  padding: clamp(3px, 0.6666666667px + 0.5982905983vw, 10px) clamp(13px, -0.6666666667px + 3.5042735043vw, 54px);
  font-size: clamp(10px, 5.3333333333px + 1.1965811966vw, 24px);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sub .actualResult__list:nth-child(2n) {
  border-left: none;
}
.sub .actualResult__list:nth-last-child(-n+2) {
  border-bottom: 1px solid var(--gray);
}
.sub .actualResult__list span {
  text-align: center;
}
.sub .actualResult__list {
  border-left: 1px solid var(--gray);
}
.sub .actualResult__paginationItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 10px;
  max-width: 566px;
  margin-inline: auto;
}
.sub .actualResult__paginationItems a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: var(--base-color);
  transition: opacity var(--duration);
}
@media (any-hover: hover) {
.hoverOpacity:hover {
	opacity: 0.7;
}

.sub .actualResult__paginationItems a:hover {
	opacity: 0.7;
}

}

@media screen and (min-width:835px) {

.drawer-menu {
	display: none;
}

}

@media screen and (max-width:834px) {

body {
	padding-top: 60px;
	padding-top: var(--header-height-sp);
}

body:has(#mobile-menu-button[aria-expanded=true]) {
	overflow: hidden;
}

header {
	bottom: 0;
	height: 60px;
	height: var(--header-height-sp);
	left: 0;
	padding-bottom: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

.header-right {
	align-items: center;
	display: flex;
	gap: 10px;
	height: inherit;
}

.header-right .header-shop-menu {
	height: inherit;
}

.header-right .header-shop-menu a {
	height: inherit;
}

.header-right .header-shop-menu .shoppingBtn {
	width: max(110px, min(calc(36.6666666667px + 18.8034188034vw), 330px));
}

.header-right .header-shop-menu .shoppingBtn {
	height: inherit;
}

.header-right .main-navigation {
	display: none;
}

.header-right .mobile-menu-toggle {
	align-items: center;
	display: flex;
	height: 100%;
}

.footer {
	background-color: rgba(112, 112, 112, 0.12);
}

.footer__inner {
	padding-left: 35px;
	padding-left: var(--padding-sp);
	padding-right: 35px;
	padding-right: var(--padding-sp);
}

.footer__contents {
	border-top: none;
	display: block;
}

.footer__main {
	flex-direction: column;
	padding-left: 0;
	padding-left: initial;
	padding-right: 0;
	padding-right: initial;
	width: 100%;
}

.footer__mainWrap {
	display: contents;
}

.footer__head {
	order: 1;
	text-align: center;
}

.footer__logo {
	display: inline-block;
}

.footer__body {
	margin-top: 30px;
	order: 3;
}

.footer__snsTitle {
	border-bottom: 1px solid #707070;
	border-bottom: 1px solid var(--gray);
	padding-bottom: 10px;
	text-align: center;
}

.footer__snsLists {
	margin-top: 30px;
}

.footer__list {
	text-align: center;
}

.footer__snsList + .footer__snsList {
	margin-top: 20px;
}

.footer__snsText {
	text-align: center;
}

.footer__snsLink {
	margin-left: auto;
	margin-right: auto;
}

.footer__bottom {
	order: 2;
}

.footer__adText {
	text-align: center;
}

.footer__adTel {
	text-align: center;
}

.footer__sub {
	display: none;
}

.sub .inner {
	padding-left: 35px;
	padding-left: var(--padding-sp);
	padding-right: 35px;
	padding-right: var(--padding-sp);
}

.sub .sp-only {
	display: block;
}

.sub .pc-only {
	display: none;
}

.sub .subMv {
	flex-direction: column;
}

.sub .subMv__title {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: max(82px, min(calc(39.8378378378px + 10.8108108108vw), 130px));
	justify-content: center;
	padding-top: 0;
}

.sub .subMv__title[class*=st_] {
	padding-bottom: 0;
}

.sub .subMv__title.st_yellow {
	background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
	background: initial;
}

.sub .subMv__title.st_pink {
	background: #ffffff;
	background: var(--white);
}

.sub .subMv__title.st_green {
	background: #ffffff;
	background: var(--white);
}

.sub .subMv__title.st_green-light {
	background: #ffffff;
	background: var(--white);
}

.sub .subMv:has(.subMv__title.img_sp_none) .subMv__img {
	display: none;
}

.sub .subMv:has(.subMv__title.st_pink) {
	background: #efb9b9;
	background: var(--pink);
	padding-bottom: max(102px, min(calc(-97.3333333333px + 51.1111111111vw), 700px));
}

.sub .subMv:has(.subMv__title.st_green-light) {
	background: #b1f19e;
	background: var(--green-light);
	padding-bottom: max(12px, min(calc(-7.3333333333px + 4.9572649573vw), 70px));
}

.sub .subMv:has(.subMv__title.st_green) {
	background: #0ba500;
	background: var(--green);
	color: #3b3b3b;
	color: var(--base-color);
	padding-bottom: max(12px, min(calc(-7.3333333333px + 4.9572649573vw), 70px));
}

.sub .media__content {
	flex: initial;
}

.sub .media__item:nth-child(odd) {
	flex-direction: column-reverse;
}

.sub .media__item:nth-child(odd) .media__imgWrap {
	margin-right: 45px;
}

.sub .media__item:nth-child(even) {
	flex-direction: column-reverse;
}

.sub .media__item:nth-child(even) .media__imgWrap {
	margin-left: 45px;
}

.sub .media.reverse .media__item:nth-child(odd) {
	flex-direction: column-reverse;
}

.sub .media.reverse .media__item:nth-child(odd) .media__imgWrap {
	margin-left: 45px;
	margin-right: 0;
	margin-right: initial;
}

.sub .media.reverse .media__item:nth-child(even) {
	flex-direction: column-reverse;
}

.sub .media.reverse .media__item:nth-child(even) .media__imgWrap {
	margin-left: 0;
	margin-left: initial;
	margin-right: 45px;
}

.sub .media.ver2 .media__content--1 {
	display: contents;
}

.sub .media.ver2 .media__content--2 {
	margin-top: max(20px, min(calc(-23.3333333333px + 11.1111111111vw), 150px));
	order: 2;
}

.sub .media.ver2 .media__textWrap {
	display: contents;
}

.sub .media.ver2 .media__title {
	order: 3;
	padding-left: max(35px, min(calc(20.3333333333px + 3.7606837607vw), 79px));
	padding-right: max(35px, min(calc(20.3333333333px + 3.7606837607vw), 79px));
	text-align: center;
}

.sub .media.ver2 .media__text {
	margin-top: max(20px, min(calc(-23.3333333333px + 11.1111111111vw), 150px));
	order: 1;
	padding-left: max(35px, min(calc(20.3333333333px + 3.7606837607vw), 79px));
	padding-right: max(35px, min(calc(20.3333333333px + 3.7606837607vw), 79px));
}

.sub .media.sp_color_none .media__imgWrap {
	margin: 0 !important;
	margin: initial !important;
}

.sub .media.sp_color_none .media__imgWrap {
	padding-left: max(35px, min(calc(20.3333333333px + 3.7606837607vw), 79px));
	padding-right: max(35px, min(calc(20.3333333333px + 3.7606837607vw), 79px));
}

.sub .media.sp_color_none .media__imgWrap .media__img {
	aspect-ratio: 318/166;
}

.sub .media.sp_color_none .media__imgWrap .media__img::after {
	content: none !important;
}

.sub .directory {
	max-width: max(236px, min(calc(-83.7297297297px + 81.981981982vw), 600px));
}

.sub .directory__head {
	align-items: initial;
	flex-direction: column-reverse;
}

.sub .directory:nth-child(even) .directory__head {
	flex-direction: column-reverse;
}

.sub .directory__lists {
	border: 1px solid #707070;
	border: 1px solid var(--gray);
	flex: initial;
}

.sub .directory__list {
	border-bottom: 1px solid #707070;
	border-bottom: 1px solid var(--gray);
}

.sub .directory__dd {
	border-left: 1px solid #707070;
	border-left: 1px solid var(--gray);
	text-align: left;
}

.sub .directory__img {
	margin-left: auto;
	margin-right: auto;
}

.sub .directory__body {
	margin-top: 30px;
}

.sub .directory__title {
	text-align: center;
}

.sub .relatedInfo__head {
	text-align: center;
}

.sub .secGreeting__contents {
	align-items: initial;
	flex-wrap: wrap;
}

.sub .secGreeting__textBlock {
	display: contents;
}

.sub .secGreeting__textWrap {
	width: 100%;
}

.sub .secGreeting__name {
	margin-left: 0;
	margin-left: initial;
	margin-top: 0;
	width: 50%;
}

.sub .secGreeting__imgBlock {
	flex: initial;
	width: 40%;
}

.sub .secSdgs__text {
	line-height: 1.4166666667;
}

.sub .secMap__body {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: 100vw;
}

.sub .map {
	aspect-ratio: 390/290;
}

.sub .secBusinessDetail__text {
	line-height: 1.5;
	padding-left: 35px;
	padding-left: var(--padding-sp);
	padding-right: 35px;
	padding-right: var(--padding-sp);
}

.sub .secElectricalTop {
	background: #fff982;
	background: var(--yellow-light);
	margin-bottom: max(17px, min(calc(-14px + 7.9487179487vw), 110px));
	padding-bottom: 30px;
}

.sub .secElectricalTop__head span {
	text-underline-offset: 2px;
}

.sub .newsBlock__contents {
	bottom: max(20px, min(calc(-40px + 15.3846153846vw), 200px));
	max-width: max(400px, min(calc(107.6666666667px + 74.9572649573vw), 1277px));
	transform: translate(-50%, 0);
}

.sub .secCareerHead__text {
	line-height: 1.7;
}

.sub .secCareerContent1__text {
	line-height: 1.5;
}

.sub .secCareerContent2__head {
	padding-top: max(15px, min(calc(-30px + 11.5384615385vw), 150px));
}

.sub .secCareerContent2__body1 {
	margin-top: max(23px, min(calc(-44px + 17.1794871795vw), 224px));
}

.sub .secCareerContent2__body2 {
	padding-bottom: max(23px, min(calc(-44px + 17.1794871795vw), 224px));
}

.sub .secCareerContent2__body1,
.sub .secCareerContent2__body2 {
	background: rgba(112, 112, 112, 0.12);
}

.sub .secOfficeContents__body {
	grid-template-columns: repeat(1, 1fr);
}

.sub .secOfficeContents__text {
	padding-left: 35px;
	padding-left: var(--padding-sp);
	padding-right: 35px;
	padding-right: var(--padding-sp);
}

.sub .actualResult__head {
	margin-top: 0;
}

}


/*# sourceMappingURL=sub.css.map */
  .sub .actualResult__paginationItems a:hover {
    opacity: 0.7;
  }
}/*# sourceMappingURL=sub.css.map */
