@charset "UTF-8";
@use "sass:math";

$breakpoints: (
  "sp": "screen and (max-width:480px)" /*767px以下（スマホ）用の表示*/,
  "tab": "screen and (max-width:834px)" /*834px以下（タブレット）用の表示*/,
  "pc": "screen and (min-width:835px)" /*835px以上（PC）用の表示*/,
) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{
        map-get($breakpoints, $breakpoint)
    } {
    //この中をカスタムできる
    @content;
  }
}

// レスポンシブ設定
$innerValue: 1496;
$inner: calc($innerValue * 1px);
$maxVw: $innerValue;
$minVw: 390;

//レスポンシブ可変フォント設定
@function rfz(
  $fontSizeMin,
  $fontSizeMax,
  $viewportWidthMin,
  $viewportWidthMax
) {
  $X: math.div(
    $fontSizeMax - $fontSizeMin,
    $viewportWidthMax - $viewportWidthMin
  );
  $Y: $fontSizeMin - $viewportWidthMin * $X;
  $Z: $X * 100;

  @return clamp(#{$fontSizeMin}px, calc(#{$Y}px + #{$Z}vw), #{$fontSizeMax}px);
}
// 使用例: font-size: rfz(16, 20, $minVw, $maxVw);
// 説明: font-size: rfz(spPx, pcPx, 可変画面幅最小, 可変画面幅最大);
:root {
  // レスポンシブ設定
  --innerValue: #{$innerValue};
  --inner: #{$inner};
  --padding-pc: 40px;
  --padding-sp: 35px;
  // カラー設定
  --base-color: #3b3b3b;
  --white: #ffffff;
  --black: #000000;
  --yellow: #fef30b;
  --yellow-light: #fff982;
  --pink: #efb9b9;
  --green: #0ba500;
  --green-light: #b1f19e;
  --gray: #707070;
  // フォントウェイト
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --ex-bold: 800;
  //フォント
  --sans-family: "Noto Sans JP", sans-serif;
  // 差異時間
  --duration: 0.3s ease;

  // ヘッダー高さ
  --header-height-pc: 118px;
  --header-height-sp: 60px;
}

.hoverOpacity {
  transition: opacity var(--duration);
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

body:has(#mobile-menu-button[aria-expanded="true"]) {
  @include mq(tab) {
    overflow: hidden;
  }
}

// ヘッダー
header {
  * {
    box-sizing: border-box;
  }
  height: var(--header-height-pc);
  @include mq(tab) {
    height: var(--header-height-sp);
  }

  .header-content {
    height: inherit;
  }
}
.header-left {
  height: inherit;
  a {
    display: block;
    height: inherit;
  }
  img {
    height: inherit;
  }
}
.header-right {
  @include mq(tab) {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .header-shop-menu {
    img {
      width: rfz(150, 330, $minVw, $maxVw);
    }
  }
  .main-navigation {
    @include mq(tab) {
      display: none;
    }
  }
  .mobile-menu-toggle {
    @include mq(tab) {
      display: block;
      height: 100%;
    }
    button {
      display: block;
      padding: 0;
      border: none;
      background: none;
      width: 40px;
      aspect-ratio: 1 / 1;
      position: relative;

      span {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: right center;
        transition: all var(--duration);

        &:nth-child(1) {
          top: 20%;
        }
        &:nth-child(2) {
          top: 45%;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }

      &[aria-expanded="true"] {
        span {
          &:nth-child(1) {
            top: 0%;
            transform: translateX(-60%) rotate(-45deg);
          }
          &:nth-child(2) {
            top: 55%;
            transform: translateX(-60%) rotate(45deg);
          }
        }
      }
    }

    .menu-toggle-icon {
      display: block;
      width: 80%;
      height: 3px;
    }
    .menu-toggle-text {
      font-size: 10px;
      margin-left: initial;
      width: 100%;
    }
  }
}

// ドロワーメニュー
.drawer-menu {
  display: block;
  position: fixed;
  top: var(--header-height-sp);
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--header-height-sp));
  overflow-y: scroll;
  z-index: 100;
  background: #efefef;
  // visibility: hidden;
  // opacity: 0;
  pointer-events: none;
  clip-path: inset(0 0 100% 0);
  transition: opacity var(--duration), visibility var(--duration),
    clip-path var(--duration);
  
    @include mq(pc) {
      display: none;
    }
}
.drawer-menu[aria-hidden="false"],
.drawer-menu:popover-open {
  // opacity: 1;
  // visibility: revert;
  pointer-events: auto;
  clip-path: inset(0 0 0 0);
}

.drawer-menu__lists {
  display: block;
  width: 100%;
  margin-inline: auto;
  padding-block: 30px 80px;
  padding-inline: var(--padding-sp);
}

.drawer-menu__list {
  border-bottom: 1px solid var(--base-color);

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    color: var(--base-color);

    span {
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0%, -50%) rotate(90deg);
      transition: transform var(--duration);
      color: var(--base-color);

      &::before,
      &::after {
        content: "";
        display: block;
        width: inherit;
        height: 2px;
        background: currentColor;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        transform-origin: center right;
      }
      &::before {
        transform: translate(0%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(0%, -50%) rotate(-45deg);
      }
    }
  }

  &.is_active {
    a {
      span {
        transform: translate(0%, -50%) rotate(90deg) scale(-1, 1);
      }
    }
  }
}

// フッター
.footer {
  box-sizing: border-box;
  font-family: var(--sans-family);
  text-align: left;
  padding-block-end: rfz(38, 156, $minVw, $maxVw);
  @include mq(tab) {
    background-color: color-mix(in srgb, var(--gray) 12%, transparent);
  }

  * {
    box-sizing: border-box;
  }
}

.footer__inner {
  max-width: calc(var(--inner) + var(--padding-pc) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-pc);

  @include mq(tab) {
    padding-inline: var(--padding-sp);
  }
}

.footer__contents {
  border-top: 1px solid var(--gray);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-block-start: rfz(22, 120, $minVw, $maxVw);

  @include mq(tab) {
    border-top: none;
    display: block;
  }
}

.footer__main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 20px;
  width: max(600px, 62%);
  padding-inline: min(130px, 6vw) 50px;

  @include mq(tab) {
    flex-direction: column;
    width: 100%;
  }
}

.footer__mainWrap {
  @include mq(tab) {
    display: contents;
  }
}

.footer__head {
  @include mq(tab) {
    order: 1;
    text-align: center;
  }
}

.footer__logo {
  width: rfz(108, 294, $minVw, $maxVw);

  @include mq(tab) {
    display: inline-block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.footer__body {
  margin-block-start: 9px;

  @include mq(tab) {
    margin-block-start: 30px;
    order: 3;
  }
}

.footer__sns {
}

.footer__snsTitle {
  font-size: 20px;
  font-family: var(--sans-family);
  font-weight: var(--ex-bold);
  line-height: calc(29 / 20);
  letter-spacing: 0.067em;

  @include mq(tab) {
    padding-block-end: 10px;
    border-bottom: 1px solid var(--gray);
    text-align: center;
  }
}

.footer__snsLists {
  margin-block-start: 14px;

  @include mq(tab) {
    margin-block-start: 30px;
  }
}
.footer__list {
  @include mq(tab) {
    text-align: center;
  }
}

.footer__list.mt {
  margin-block-start: 50px;
}

.footer__snsList + .footer__snsList {
  margin-block-start: 10px;

  @include mq(tab) {
    margin-block-start: 20px;
  }
}

.footer__snsText {
  font-size: rfz(12, 20, $minVw, $maxVw);

  @include mq(tab) {
    text-align: center;
  }
}

.footer__snsLink {
  display: block;
  width: 45px;
  margin-block-start: 10px;
  text-align: center;

  @include mq(tab) {
    margin-inline: auto;
  }
}

.footer__bottom {
  @include mq(tab) {
    order: 2;
  }
}

.footer__adBlock + .footer__adBlock {
  margin-block-start: 15px;
}

.footer__adText {
  font-size: rfz(12, 20, $minVw, $maxVw);
  line-height: calc(29 / 20);

  @include mq(tab) {
    text-align: center;
  }
}

.footer__adTel {
  font-size: rfz(20, 37, $minVw, $maxVw);
  line-height: calc(54 / 37);
  @include mq(tab) {
    text-align: center;
  }
}

.footer__sub {
  width: max(400px, 38%);
  padding-inline: 50px;
  border-right: 1px solid var(--gray);
  @include mq(tab) {
    display: none;
  }
}

.footer__listWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 60px;
}

.footer__lists {
}

.footer__list {
  margin-block-start: 10px;

  a {
    font-size: 20px;
    line-height: calc(29 / 20);
    letter-spacing: 0.067em;
    color: var(--base-color);
    text-decoration: none;
  }
}

.footer__subLists {
  padding-left: 2em;
}

.footer__subList {
  a {
    font-size: 20px;
    line-height: calc(29 / 20);
    letter-spacing: 0.067em;
    color: var(--base-color);
    text-decoration: none;
  }
}

.footer__copy {
  font-size: rfz(12, 20, $minVw, $maxVw);
  line-height: calc(29 / 20);
  text-align: center;
  margin-block-start: rfz(30, 269, $minVw, $maxVw);
}

.sub {
  // 下層ページ基本設定
  color: var(--base-color);

  .inner {
    max-width: calc(var(--inner) + var(--padding-pc) * 2);
    margin-inline: auto;
    padding-inline: var(--padding-pc);

    @include mq(tab) {
      padding-inline: var(--padding-sp);
    }
  }
}
